xsd/saaif/equationeditorconfigtypes_v1p0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema 
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:xhtml="http://www.w3.org/1999/xhtml"
  xmlns:mml="http://www.w3.org/1998/Math/MathML"
  version="SAAIF EET 1.0"
  elementFormDefault="unqualified"
  attributeFormDefault="unqualified">

  <xsd:annotation>
    <xsd:documentation xml:lang="en-US">
      SmarterApp Assessment Item Format Specification XSD SAAIF
      Equation Editor Configuration Document SAAIF EE 1.0
      Specification Version: 1.0.0
      XSD Version: 1.0 v1p0
      Status: Draft
      Release Date: 2014-xx-xx
      SAAIF Specification URL: http://www.smarterapp.org/specifications.html
      XSD: http://www.smarterapp.org/xsd/saaif/v1p0/equationeditorconfigtypes_v1p0.xsd
      Location: http://www.smarterapp.org/xsd/saaif/v1p0/equationeditorconfigtypes_v1p0.xsd
    </xsd:documentation>

    <xsd:documentation xml:lang="en-US">
      Change Log
      Date     Version  Changes
      2014xxxx 1.0      Initial release
    </xsd:documentation>

    <xsd:documentation xml:lang="en-US">
This is NOT a reference implementation.  If there are discrepencies between this XSD and the Specification, the Specification is authoratative.
    </xsd:documentation>

    <xsd:documentation xml:lang="en-US">
Element types and definitions for an Equation Editor Configuration XML document.  These types are for inclusion in other SAAIF XML schemata.  The schema is not namespaced and is unqualified.
    </xsd:documentation>

    <xsd:documentation xml:lang="en-US">
The Equation Editor Configuration XML document schema.  It uses included types.  The schema is namespaced and is qualified.  It is for a standalone XML document.  Note: The SAAIF does NOT define a standalone equation editor configuration XML document.  This schema is provided for completeness but is not used.
    </xsd:documentation>

    <xsd:documentation xml:lang="en-US">
An Equation Editor Configuration XML document holds the configuration settings for the equation editor that is presented to the student for an equation type of assessment item.  The equation editor configuration is a type of rendering specification.  The equation editor configuration is stored as an independent XML document and referenced from the RendererSpec element within an equation type of assessment item.
    </xsd:documentation>

    <xsd:documentation xml:lang="en-US">
Copyright © 2014, Copyright holder.  This schema may be used under the Creative Commons Attribution-ShareAlike 4.0 International License (CC BY-SA 4.0) [http://creativecommons.org/licenses/by-sa/4.0/].
    </xsd:documentation>

    <xsd:documentation xml:lang="en-US">
The complete license is included in the SAAIF specification, located at: http://www.smarterapp.org/specifications.html
    </xsd:documentation>
  </xsd:annotation>

<!-- Import MathML -->
<!-- Here instead of in the schema of all common types since it is a big import and not all other documents need MathML -->

  <xsd:import namespace="http://www.w3.org/1998/Math/MathML"
       schemaLocation="http://www.w3.org/Math/XMLSchema/mathml3/mathml3.xsd"/>

<!-- Include the common types -->

  <xsd:include schemaLocation="saaifcommontypes_v1p0.xsd"/>

<!-- Define the basic types -->

  <xsd:complexType name="editorconfigType">
  <xsd:annotation>
    <xsd:documentation xml:lang="en-US">
    Define the item type for the Equation Editor Configuration.
    Description of the settings used to configure and render the equation editor in the test client.
    </xsd:documentation>
  </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="contentLabel" type="stringType" minOccurs="0"/>
      <xsd:element name="configure" type="configureType"/>
      <xsd:element name="tabs" type="tabsType"/>
      <xsd:element name="TeXEntryEnabled" type="TeXEntryEnabledType"/>
      <xsd:element name="TeX" type="TeXType"/>
      <xsd:element name="tabConfig" type="tabConfigType"/>
      <xsd:element name="id" type="positiveIntType" minOccurs="0"/>
      <xsd:element name="navigation" type="navigationType"/>
      <xsd:element name="mathML" type="MathMLType" maxOccurs="unbounded"/>
      <xsd:element name="placeHold" type="TeXType" minOccurs="0"/>
      <xsd:element name="TeXEntryMode" type="TeXEntryModeType"/>
      <xsd:element name="TeXEntryInit" type="TeXEntryInitType"/>
      <xsd:element name="editmode" type="editModeType" minOccurs="0"/>
      <xsd:element name="fontSizePt" type="xsd:double" minOccurs="0"/>
      <xsd:element name="fontSizeHt" type="xsd:float" minOccurs="0"/>
      <xsd:element name="sanitizeTeXEnabled" type="sanitizeTeXEnabledType" minOccurs="0"/>
      <xsd:element name="defaultTextBoxPx" type="positiveIntType" minOccurs="0"/>
      <xsd:element name="isMobile" type="isMobileType" minOccurs="0"/>
      <xsd:element name="MagicDisabled" type="MagicDisabledType" minOccurs="0"/>
      <xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attribute name="schemaversion" type="xsd:string"/>
  </xsd:complexType>     

  <xsd:simpleType name="configureType">
  <xsd:annotation>
    <xsd:documentation xml:lang="en-US">
    Define the configure type.
    Control of item configuration data display when the item is viewed in the authoring tool or the test client.
    </xsd:documentation>
  </xsd:annotation>
    <xsd:restriction base="xsd:boolean"/>
  </xsd:simpleType>   

  <xsd:simpleType name="tabsType">
  <xsd:annotation>
    <xsd:documentation xml:lang="en-US">
    Define the tabs type.
    Control of display of the input keys panel tabs.
    </xsd:documentation>
  </xsd:annotation>
    <xsd:restriction base="xsd:boolean"/>
  </xsd:simpleType>   

  <xsd:simpleType name="TeXEntryEnabledType">
  <xsd:annotation>
    <xsd:documentation xml:lang="en-US">
    Define the TexEntryEnabled type.
    Control of permitted TeX entry into the equation editor.
    </xsd:documentation>
  </xsd:annotation>
    <xsd:restriction base="xsd:boolean"/>
  </xsd:simpleType>   

  <xsd:simpleType name="navigationType">
  <xsd:annotation>
    <xsd:documentation xml:lang="en-US">
    Define the navigation type.
    Controls the display of the equation input cursor navigation buttons.
    </xsd:documentation>
  </xsd:annotation>
    <xsd:restriction base="xsd:boolean"/>
  </xsd:simpleType>   

 <xsd:simpleType name="TeXEntryModeType">
  <xsd:annotation>
    <xsd:documentation xml:lang="en-US">
    Define the TeXEntryMode type.
    User entered TeX input allowed.
    </xsd:documentation>
  </xsd:annotation>
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="Allow"/>
      <xsd:enumeration value="None"/>
    </xsd:restriction>
  </xsd:simpleType>     

 <xsd:simpleType name="TeXEntryInitType">
  <xsd:annotation>
    <xsd:documentation xml:lang="en-US">
    Define the TeXEntryInit type.
    Initial TeX entry mode.
    </xsd:documentation>
  </xsd:annotation>
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="Allow"/>
      <xsd:enumeration value="None"/>
      <xsd:enumeration value="Vim"/>
    </xsd:restriction>
  </xsd:simpleType>     

 <xsd:simpleType name="editModeType">
  <xsd:annotation>
    <xsd:documentation xml:lang="en-US">
    Define the editMode type.
    Supported editing mode.
    </xsd:documentation>
  </xsd:annotation>
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="APPEND"/>
      <xsd:enumeration value="INSERT"/>
      <xsd:enumeration value="REPLACE"/>
    </xsd:restriction>
  </xsd:simpleType>     

  <xsd:simpleType name="sanitizeTeXEnabledType">
  <xsd:annotation>
    <xsd:documentation xml:lang="en-US">
    Define the sanitizeTeXEnabled type.
    Control of ASCII math strings  typeset using TeX.
    </xsd:documentation>
  </xsd:annotation>
    <xsd:restriction base="xsd:boolean"/>
  </xsd:simpleType>   

  <xsd:simpleType name="isMobileType">
  <xsd:annotation>
    <xsd:documentation xml:lang="en-US">
    Define the isMobile type.
    Controls if the item will be optimized for display on a mobile device when rendered on a mobile device.
    </xsd:documentation>
  </xsd:annotation>
    <xsd:restriction base="xsd:boolean"/>
  </xsd:simpleType>   

  <xsd:simpleType name="MagicDisabledType">
  <xsd:annotation>
    <xsd:documentation xml:lang="en-US">
    Define the MagicDisabled type.
    Controls if the item will be optimized for display on a mobile device when rendered on a mobile device.
    </xsd:documentation>
  </xsd:annotation>
    <xsd:restriction base="xsd:boolean"/>
  </xsd:simpleType>   

  <xsd:complexType name="tabConfigType">
  <xsd:annotation>
    <xsd:documentation xml:lang="en-US">
    Define the tabConfigType.
    Layout of input keys for each input keys panel tab.
    </xsd:documentation>
  </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Order" type="OrderType" maxOccurs="unbounded"/>
      <xsd:group ref="tabGroup"/>
      <xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>     

  <xsd:group name="tabGroup">
  <xsd:annotation>
    <xsd:documentation xml:lang="en-US">
    Define the tabGroup type.
    The list of all the tab types.
    </xsd:documentation>
  </xsd:annotation>
    <xsd:choice>
      <xsd:element name="Algebra" type="tabType"/>
      <xsd:element name="Basic" type="tabType"/>
      <xsd:element name="SBAC3" type="tabType"/>
      <xsd:element name="SBAC4" type="tabType"/>
      <xsd:element name="SBAC5" type="tabType"/>
      <xsd:element name="SBAC6" type="tabType"/>
      <xsd:element name="SBAC7" type="tabType"/>
      <xsd:element name="SBAC8" type="tabType"/>
      <xsd:element name="SBAC9" type="tabType"/>
      <xsd:element name="SBAC10" type="tabType"/>
      <xsd:element name="SBAC11" type="tabType"/>
    </xsd:choice>
  </xsd:group>

 <xsd:complexType name="OrderType">
  <xsd:annotation>
    <xsd:documentation xml:lang="en-US">
    Define the Order type.
    The description of one of the tabs.
    </xsd:documentation>
  </xsd:annotation>
  <xsd:simpleContent>
    <xsd:extension base="OrderListType">
      <xsd:attribute name="index" type="positiveIntType"/>
    </xsd:extension>
  </xsd:simpleContent>
 </xsd:complexType>

 <xsd:simpleType name="OrderListType">
  <xsd:annotation>
    <xsd:documentation xml:lang="en-US">
    Define the Order type name list enuermation.
    Tab order names.
    </xsd:documentation>
  </xsd:annotation>
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="Basic"/>
      <xsd:enumeration value="Algebra"/>
      <xsd:enumeration value="SBAC3"/>
      <xsd:enumeration value="SBAC4"/>
      <xsd:enumeration value="SBAC5"/>
      <xsd:enumeration value="SBAC6"/>
      <xsd:enumeration value="SBAC7"/>
      <xsd:enumeration value="SBAC8"/>
      <xsd:enumeration value="SBAC9"/>
      <xsd:enumeration value="SBAC10"/>
      <xsd:enumeration value="SBAC11"/>
    </xsd:restriction>
  </xsd:simpleType>     

  <xsd:complexType name="tabType">
  <xsd:annotation>
    <xsd:documentation xml:lang="en-US">
    Define the tab type.
    Specification of the specific tab layout if the default tab configuration is not used.
    Used for all tab types: Basic, Algebra, SBAC3..SBAC11
    </xsd:documentation>
  </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="title" type="stringType"/>
      <xsd:element name="rows" type="rowsType" maxOccurs="unbounded"/>
      <xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>     

  <xsd:complexType name="rowsType">
  <xsd:annotation>
    <xsd:documentation xml:lang="en-US">
    Define the rows Type.
    Individual row definition in the input keys panel tab area.
    </xsd:documentation>
  </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="title" type="stringType"/>
      <xsd:element name="type" type="typeType"/>
      <xsd:element name="cols" type="positiveIntType" minOccurs="0"/>
      <xsd:element name="items" type="itemsType" maxOccurs="unbounded"/>
      <xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attribute name="index" type="positiveIntType"/>
  </xsd:complexType>     

 <xsd:simpleType name="typeType">
  <xsd:annotation>
    <xsd:documentation xml:lang="en-US">
    Define the type type.
    Type of layout of the “rows” in the input keys panel.
    </xsd:documentation>
  </xsd:annotation>
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="grid"/>
      <xsd:enumeration value="row"/>
    </xsd:restriction>
  </xsd:simpleType>     

  <xsd:simpleType name="itemsListType">
  <xsd:annotation>
    <xsd:documentation xml:lang="en-US">
    Define the itemsList Type.
    Vocabulary of names of an input key.
    **** 
    List not complete/
    Type is not used.
    </xsd:documentation>
  </xsd:annotation>
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="sin"/>
      <xsd:enumeration value="Pi"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:complexType name="itemsType" mixed="true">
  <xsd:annotation>
    <xsd:documentation xml:lang="en-US">
    Define the items Type.
    Description of the individual input keys.
    Mixed type to allow simple content.  
    Cannot restict to either content and no elements or no content and elements.
    Thus all elements are optional.
    </xsd:documentation>
  </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="key" type="stringType" minOccurs="0"/>
      <xsd:element name="text" type="stringType" minOccurs="0"/>
      <xsd:element name="value" type="TeXType" minOccurs="0"/>
      <xsd:element name="isParsed" type="isParsedType" minOccurs="0"/>
      <xsd:element name="css" type="cssType" minOccurs="0"/>
      <xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attribute name="index" type="positiveIntType"/>
  </xsd:complexType>     

  <xsd:simpleType name="isParsedType">
  <xsd:annotation>
    <xsd:documentation xml:lang="en-US">
    Define the isParsed type.
    Specification of how the key is displayed by the test client.
    </xsd:documentation>
  </xsd:annotation>
    <xsd:restriction base="xsd:boolean"/>
  </xsd:simpleType>   

<!-- Define local reused types -->

<!-- MathML is here instead of in the schema of all common types since the mml: namespace is a big import and not all other documents need MathML -->
  <xsd:complexType name="MathMLType">
  <xsd:annotation>
    <xsd:documentation xml:lang="en-US">
    Define the MathML type.
    </xsd:documentation>
  </xsd:annotation>
    <xsd:sequence>
    <xsd:element ref="mml:math"/>
    </xsd:sequence>
  </xsd:complexType>     

</xsd:schema>
